<div class="container" ng-if="!myinfoCtrl.signupData.registered">
  <span >Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a></span>
</div>
<div class="container" ng-if="myinfoCtrl.signupData.registered">
  <h1>Your registered information:</h1>
  <br>
  First Name: {{myinfoCtrl.signupData.firstname}}<br>
  Last Name: {{myinfoCtrl.signupData.lastname}}<br>
  Email: {{myinfoCtrl.signupData.email}}<br>
  Phone: {{myinfoCtrl.signupData.phone}}<br>
  Favorite Dish Code: {{myinfoCtrl.signupData.favoritedishjsondata.short_name}}<br>
  Favorite Dish: {{myinfoCtrl.signupData.favoritedishjsondata.name}}<br>
  Favorite Dish Description: {{myinfoCtrl.signupData.favoritedishjsondata.description}}<br>
  <img width="200" height="200" ng-src="{{myinfoCtrl.imagebasepath}}/images/{{myinfoCtrl.signupData.favoritedishjsondata.short_name}}.jpg"
       alt="{{myinfoCtrl.signupData.favoritedishjsondata.name}}">
  <br>
</div>
